@font-face {
  font-family: RobotoCondensed;
  src: url(./fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensedBold;
  src: url(./fonts/RobotoCondensed-Bold.ttf);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "RobotoCondensed";
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 4rem;
  color: #f5f5f5;
  background-color: #171717;
}

#header > img {
  width: 3.1rem;
  padding-right: 10px;
}

#content {
  height: 70%;
  background-color: #f5f5f5;
  overflow: auto;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

button {
  border-radius: 50px;
  padding: 10px;
  font-size: 1.5rem;
  background-color: #171717;
  color: white;
  border: 0;
}

button:hover {
  background-color: #a3a3a3;
}

button:active {
  background-color: #171717;
}

/* Modal form*/
.form-container > .cancel {
  position: absolute;
  left: 385px;
  top: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.form-container {
  display: none; /* Hidden by default*/
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 425px;
  left: 50vw;
  margin-top: -300px;
  margin-left: -210px;
  width: 420px;
  height: 500px;
  z-index: 100;
  border-radius: 20px;
  background-color: #d6d3d1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}

form > div {
  display: flex;
  flex-direction: column;
}

.error {
  color: rgb(247, 43, 43);
  width: 147px;
  overflow-wrap: normal;
  text-align: center;
}

#title-error,
#author-error,
#number-of-pages-error {
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

input {
  max-width: 147px;
  border-radius: 5px;
}

input#title:focus:invalid,
input#author:focus:invalid,
input#number-of-pages:focus:invalid {
  border: 3px solid rgb(247, 43, 43);
}

input#title:valid,
input#author:valid,
input#number-of-pages:valid {
  border: 3px solid rgb(38, 225, 38);
}

input[type="number"] {
  width: 139px;
}

.form-read {
  gap: 5px;
}

.check-box-container {
  display: flex;
  justify-content: center;
}

input[type="checkbox"] {
  cursor: pointer;
}

button[id="submit"] {
  border-radius: 50px;
  padding: 10px;
  font-family: "RobotoCondensedBold";
  font-size: 1rem;
  background-color: white;
  color: #171717;
  border: 0;
}

button[id="submit"]:hover {
  background-color: #171717;
  color: white;
}

button[id="submit"]:active {
  background-color: white;
  color: #171717;
}

/* End of Modal Form*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  row-gap: 50px;
  column-gap: 100px;
  padding: 20px 50px 20px 50px;
}

/* Animations for newly added books*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 1rem;
  color: #f5f5f5;
  background-color: #171717;
}

a {
  color: white;
}
